

<%= render 'error', item: @item   %>


<div class="container">
  <div class="row "><h4 class="col-md-2 col-sm-2 bg-light ">商品新規登録</h4></div>
    <div class="row ">
      <div class="col-12">
        <%= form_with model: @item, url:admin_items_path, local: true do |f| %><!--モデル属性に無い入力フォームを追加できる.modelとurlの記述により-->
          <div class="form-group  row mt-5 mb-4" >
            <%= f.label :商品画像 ,class:"col-md-2 text-center" %>
            <%= f.file_field :image, accept:"image/*" %> <!--accept: "image/*"は画像ファイルのみ投稿可能-->
          </div>
            <div class="form-group row mt-3 " >
              <%= f.label :商品名 ,class:"col-md-2 text-center"  %>
              <%= f.text_field :name ,class:"form-control col-md-5" %>
            </div>
            <div class="form-group row mt-3 ">
              <%= f.label :商品説明 ,class:"col-md-2 text-center"  %>
              <%= f.text_area :introduction ,class:"form-control col-md-5"  %>
            </div>
            <div class="form-group row mt-3 ">
              <%= f.label :ジャンル ,class:"col-md-2 text-center"  %>
              <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %>
                <%#= f.collection_select :保存先のカラム名, テーブル（モデル）名.all, :実際にDBに保存させるカラム名, :選択肢に用いるカラム名, include_blank: "選択して下さい" %>
            </div>
            <div class="form-group row mt-3">
              <%= f.label :税抜価格 ,class:"col-md-2 text-center"  %>
              <%= f.text_field :price ,class:"form-control col-md-5" %><span class="form-text">円</span>
            </div>
            <div class="form-group row mt-5 mb-4">
              <%= f.label :販売ステータス ,class:"col-md-2 text-center"  %>
                <div class="col-2 text-center"><%= f.radio_button :is_active, :true  %>販売中</div>
                <div class="col-2 text-center"><%= f.radio_button :is_active, :false  %>販売停止中</div>
            </div>
      </div>
    </div>
      <div class="form-group text-center col-7">
        <%= f.submit "新規登録" ,class:"btn btn-success btn-lg "  %>
      </div>
        <% end %>
</div>