<div class="offset-1">
	<div class="ml-5">
	  <div class="ml-5">
	    <mark class="h4 bg-light ml-5 mb-5 px-4"><%= @customer.full_name %>さんの会員情報編集</mark>
	  </div>
	</div>
</div>
<div class='container'>
  <div class='row mt-4 ml-4'>
    <%= form_with model:@customer,url: admin_customer_path, local:true do |f| %>
    <div class="col-md-12 ml-3">
      <table class='table table-borderless'>
        <tbody>
          <tr>
            <td style="width: 30%"><%= f.label :id, "会員ID" %></td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td style="width: 30%"><%= f.label :full_name, "氏名" %></td>
            <td><%= f.text_field :last_name, class: "form-control last_name" %></td>
            <td><%= f.text_field :first_name, class: "form-control first_name" %></td>
          </tr>
          <tr>
            <td style="width: 30%"><%= f.label :full_name_kana, "フリガナ" %></td>
            <td><%= f.text_field :last_name_kana, class: "form-control last_name_kana" %></td>
            <td><%= f.text_field :first_name_kana, class: "form-control first_name_kana" %></td>
          </tr>
          <tr>
            <td style="width: 30%"><%= f.label :postal_code, "郵便番号" %></td>
            <td><%= f.text_field :postal_code, class: "form-control postal_code" %></td>
          </tr>
        </tbody>
      </table>
      <table class='table table-borderless'>
        <tbody>
          <tr>
            <td style="width: 30%"><%= f.label :address, "住所" %></td>
            <td><%= f.text_field :address, size: "50", class: "form-control address" %></td>
          </tr>
        </tbody>
      </table>
      <table class='table table-borderless'>
        <tbody>
          <tr>
            <td style="width: 30%"><%= f.label :telephone_number, "電話番号" %></td>
            <td><%= f.text_field :telephone_number, class: "form-control telephone_number" %></td>
            <td style="width: 35%"></td>
          </tr>
          <tr>
            <td style="width: 30%"><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.email_field :email, size: "20", class: "form-control email" %></td>
            <td style="width: 35%"></td>
          </tr>
          <tr>
            <td style="width: 30%">会員ステータス</td>
            <td>
              <%= f.radio_button :is_deleted, :false %><%= f.label :customer_status_false, "有効" %>&emsp;
              <%= f.radio_button :is_deleted, :true %><%= f.label :customer_status_true, "退会" %>
            </td>
          </tr>
          <tr></tr>
          <tr>
            <td></td>
            <td><%= f.submit "変更を保存", class: 'btn btn-success' %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
