<h1><%= @customer.full_name %>さんの会員詳細</h1>
<div>
  <div>
    <p>会員ID</p>
    <p><%= customer.id %></p>
  </div>
  <div>
    <p>氏名</p>
    <p><%= customer.last_name %> <%= customer.first_name %></p>
  </div>
  <div>
    <p>フリガナ</p>
    <p><%= customer.last_name_kana %> <%= customer.first_name_kana %></p>
  </div>
  <div>
    <p>郵便番号</p>
    <p><%= customer.postal_code %></p>
  </div>
  <div>
    <p>住所</p>
    <p><%= customer.address %></p>
  </div>
  <div>
    <p>電話番号</p>
    <p><%= customer.telephone_number %></p>
  </div>
  <div>
    <p>メールアドレス</p>
    <p><%= customer.email %></p>
  </div>
  <div>
    <p>会員ステーション</p>
    <p><%= customer.is_deleted %></p>
  </div>

  <div>
    <%= link_to "編集する", edit_admin_customer(@customer), class: "btn btn-sm btn-succes" %>
    <%= link_to "注文履歴一覧を見る", admin_order(@customer), class: "btn btn-sm btn-primary" %>
  </div>
</div>
