<mark class="h4 bg-light ml-5">ジャンル一覧・追加</mark>
<div class="ml-5 my-4">
    <div class="row">
        <div class="col-6">
            <%= form_with model: [:admin, @genre], local: true do |f| %>
            <%= render 'admin/items/error', item: @genre %>
            <table class="col-sm-9 col-lg-12">
              <thead>
                <tr>
                  <th>ジャンル名</th>
                  <th><%= f.text_field :name, placeholder:"ジャンル名"%></th>
                  <th><%= f.submit "新規登録", class:"btn btn-success" %></th>
                </tr>
              </thead>
            </table>
            <% end %>
        </div>
    </div>
</div>
<div class="ml-5 my-4">
  <div class="row">
    <div class="col-md-4">
      <table class="table-light table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre), class:"btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="center-block mx-auto">
    </div>
  </div>
</div>