<div class="offset-2 mb-5">
	<mark class="h4 bg-light ml-5 mb-5">注文履歴詳細</mark>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h5 class="font-weight-bold">注文情報</h5>
      <table class="table-light table">
        <tr>
          <td class="col-xs-2 table-secondary">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">配送先</td>
          <td>
            〒<%= @order.postal_code %></ br>
              <%= @order.address %></ br>
              <%= @order.name %></ br>
          </td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">支払方法</td>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">ステータス</td>
          <td><%= @order.status %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <h5 class="font-weight-bold">請求情報</h5>
      <table class="table-light table">
        <tr>
          <td class="col-xs-2 table-secondary">商品合計</td>
          <td>¥<%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">配送料</td>
          <td>¥<%= @order.shipping_cost.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class="col-xs-2 table-secondary">ご請求額</td>
          <td>¥<%= @order.total_payment.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h5 class="font-weight-bold">注文内容</h5>
      <table class="table-light table">
        <thead class="table-secondary">
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @order.order_details.each do |order_details| %>
        <tbody>
          <tr>
            <td><%= order_details.item.name %></td>
            <td>¥<%= order_details.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= order_details.amount %></td>
            <td>¥<%= order_details.price.to_s(:delimited) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

  </div>
</div>
