
<div class="container">
  <div class="row">
    <h2>商品一覧<span class="small">(全 <%= @items.count %> 件)</span></h2>
  </div>
    <div class="row p-auto">
      <% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <div class=" mx-5">
            <%= image_tag item.image, size: '150x100' %>
            <p class="text-dark"><%=item.name %></p>
            <p class="text-dark">¥<%= item.price.to_s(:delimited) %></p>
          </div>
        <% end %>
      <% end %>
   </div>
   <div class="mt-4 d-flex justify-content-center">
     <%= paginate @items %>
   </div>
 </div>



