
<div class="container">
      <div class="row">
        <%= image_tag @item.image, size: '250x250' %>

        　<%= form_with model: @cart_item, url: cart_items_path do |f| %><!--注文するためのフォーム-->
        　  <%= f.hidden_field :item_id, :value => @item.id  %>
            <p class=""> <%= @item.name %></p>
             <p class=""> <%= @item.introduction %></p>
             <p class="">¥ <%= @item.price.to_s(:delimited) %><span class="small">(税込)</span></p>
             <p class=""> <%= f.select :amount, *[1..10] %> 個 </p>
             <div class="row">
              <%= f.submit "カートに入れる", class: "btn btn-success btn-lg"  %>
             </div>
          <% end %>
  </div>
  </div>

